/* James Boynton
3/20/16
COMI 2010 Client-Side Scripting Languages
Project 2

styles.css

External stylesheet referenced by blog.html. */

html {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-color: #000000;
    width: 1024px;
}

body {
  color: #FFFFFF;
  font-family: 'Ubuntu', 'Consolas', 'Georgia', sans-serif;
}

h1 {
  color: #A6FF00;
  font-family: 'Unica One', 'Consolas', 'Georgia', sans-serif;
  font-size: 6em;
  text-shadow: 0.1px 0.1px 13px #AFFFAF;
}

h2 {
  color: #A6FF00;
}

textarea {
  background-color: #0C120C;
  border-bottom: solid 0.1em #CC3314;
  border-left: solid 0.1em #CC3314;
  border-right: solid 0.1em #CC3314;
  border-top: solid 0.1em #CC3314;
  color: #FFFFFF;
  font-family: 'Consolas', 'Georgia', sans-serif;
  max-width: 99%;
  resize: none;
}

textarea:focus {
  border-top: solid 0.2em #CC3314;
  border-bottom: solid 0.2em #CC3314;
  outline: none;
}

input {
  background-color: #0C120C;
  border-style: none;
  color: #1962FF;
  font-family: 'Ubuntu', 'Consolas', 'Georgia', sans-serif;
}

table {
  width: 100%
}

table, td {
  border-style: none;
}

td {
  height: 1.4em;
  padding-left: 1%;
}

a {
  color: #B22509;
}

a:hover {
  color: #CC3314;
}

a:active {
  color: #E30F0B;
}

a:visited {
  color: #D9690B;
}

.wrapper {
  overflow: visible;
  padding-left: 35%;
}

.clearfix {
  padding-top: 15%;
}

/*.main-content {
  margin-left: 50px;
}*/

.content-div {
  background-color: #0C120C;
  border: solid 0.1em #AFFFAF;
  max-width: 100%;
  margin: 3%;
  overflow: hidden;
  padding: 3%;
}

.form-div {
  /*border: solid 0.1em #AFFFAF;*/
  max-width: 100%;
  overflow: hidden;
}







.text {
  border-bottom: solid 0.1em #CC3314;
}

.text:focus {
  border-bottom: solid 0.2em #CC3314;
  outline: none;
}

.btn {
  border-radius: 10%;
  border: solid 0.1em #CC3314;
}

.btn:hover {
  border: solid 0.2em #CC3314;
}

.btn:active {
  border-color: #E30F0B;
}

.btn:focus {
  border: solid 0.2em #CC3314;
  outline: none;
}

#page-title {
  text-align: right;
}

/*#header {
  padding-top: 12%;
}*/
